In [28]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from mlxtend.plotting import plot_confusion_matrix
from mlxtend.classifier import StackingClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import seaborn as sns
import numpy as np

In [ ]:
#Stacking is a way of ensembling classification or regression models it consists of two-layer estimators. The first layer 
#consists of all the baseline models that are used to predict the outputs on the test datasets. The second layer consists of 
#Meta-Classifier or Regressor which takes all the predictions of baseline models as an input and generate new predictions.

In [ ]:
#Most of the Machine-Learning and Data science competitions are won by using Stacked models. They can improve the existing 
#accuracy that is shown by individual models. We can get most of the Stacked models by choosing diverse algorithms in the first 
#layer of architecture as different algorithms capture different trends in training data by combining both of the models can 
#give better and accurate results.

In [ ]:
#Mlxtend (machine learning extensions) is a Python library of useful tools for day-to-day data science tasks. It consists of 
#lots of tools that are useful for data science and machine learning tasks for example:
#Feature Selection,Feature Extraction,Visualization.Ensembling
#

In [8]:
data = pd.read_csv("https://raw.githubusercontent.com/tripathiaakash/ML_Course/main/heart.csv")

In [9]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [12]:
a = pd.get_dummies(data['cp'], prefix = "cp")
b = pd.get_dummies(data['thal'], prefix = "thal")
c = pd.get_dummies(data['slope'], prefix = "slope")

In [15]:
c

     slope_0  slope_1  slope_2
0          1        0        0
1          1        0        0
2          0        0        1
3          0        0        1
4          0        0        1
..       ...      ...      ...
298        0        1        0
299        0        1        0
300        0        1        0
301        0        1        0
302        0        1        0

[303 rows x 3 columns]

In [17]:
frames = [data, a, b, c]
data = pd.concat(frames, axis = 1)
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,3,145,233,1,0,150,0,2.3,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,250,0,1,187,0,3.5,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,204,0,0,172,0,1.4,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,236,0,1,178,0,0.8,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,354,0,1,163,1,0.6,...,0,0,0,0,0,1,0,0,0,1

In [18]:
data = data.drop(columns = ['cp', 'thal', 'slope'])
data.head()

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1

In [19]:
data.columns.values

array(['age', 'sex', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'ca', 'target', 'cp_0', 'cp_1', 'cp_2', 'cp_3',
       'thal_0', 'thal_1', 'thal_2', 'thal_3', 'slope_0', 'slope_1',
       'slope_2', 'cp_0', 'cp_1', 'cp_2', 'cp_3', 'thal_0', 'thal_1',
       'thal_2', 'thal_3', 'slope_0', 'slope_1', 'slope_2'], dtype=object)

In [25]:
Y = data['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [26]:
X = data.drop(['target'], axis = 1)
X

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,1,123,1,0.2,0,...,0,0,0,0,0,0,1,0,1,0
299,45,1,110,264,0,1,132,0,1.2,0,...,0,0,1,0,0,0,1,0,1,0
300,68,1,144,193,1,1,141,0,3.4,2,...,0,0,0,0,0,0,1,0,1,0
301,57,1,130,131,0,1,115,1,1.2,1,...,0,0,0,0,0,0,1,0,1,0
302,57,0,130,236,0,0,174,0,0.0,1,...,1,0,0,0,0,1,0,0,1,0

In [29]:
#Standardising Data
# initializing sc object
#sc = StandardScaler()  
# variables that needed to be transformed
#var_transform = ['thalach', 'age', 'trestbps', 'oldpeak', 'chol']
#X_train[var_transform] = sc.fit_transform(X_train[var_transform])   # standardising training data 
#X_test[var_transform] = sc.transform(X_test[var_transform])            # standardising test data
#print(X_train.head())

X = (X - np.min(X)) / (np.max(X) - np.min(X)).values

In [30]:
X

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,0.708333,1.0,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.00,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.166667,1.0,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.00,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.250000,0.0,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,0.00,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.562500,1.0,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,0.00,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.583333,0.0,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
299,0.333333,1.0,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
300,0.812500,1.0,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.50,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
301,0.583333,1.0,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
302,0.583333,0.0,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.25,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [31]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 100)

In [32]:
# Building First Layer Estimators
KNC = KNeighborsClassifier()   # initialising KNeighbors Classifier
NB = GaussianNB()              # initialising Naive Bayes

In [47]:
# Training KNeighborsClassifier
model_knc = KNC.fit(x_train, y_train)

In [48]:
pred_knc = model_knc.predict(x_test)

In [38]:
#what is model_knc?
model_knc

KNeighborsClassifier()

In [49]:
acc_knc = accuracy_score(y_test, pred_knc)

In [50]:
acc_knc * 100

84.61538461538461

In [51]:
#Training Naive Bayes Classifier
model_nb = NB.fit(x_train, y_train)

In [59]:
pred_nb = model_nb.predict(x_test)

In [53]:
model_nb

GaussianNB()

In [60]:
acc_nb = accuracy_score(y_test, pred_nb)

In [61]:
acc_nb * 100

61.53846153846154

In [62]:
# Implementing Stacking Classifier
lr = LogisticRegression()

In [63]:
clf_stack = StackingClassifier(classifiers =[KNC, NB], meta_classifier = lr, use_probas = True, use_features_in_secondary = True)
#use_probas=True indicates the Stacking Classifier uses the prediction probabilities as an input instead of using predictions classes.
#use_features_in_secondary=True indicates Stacking Classifier not only take predictions as an input but also uses features in the dataset to predict on new data.

In [64]:
#Training Stacking Classifier
model_stack = clf_stack.fit(x_train, y_train)

In [65]:
model_stack

StackingClassifier(classifiers=[KNeighborsClassifier(), GaussianNB()],
                   meta_classifier=LogisticRegression(),
                   use_features_in_secondary=True, use_probas=True)

In [66]:
pred_stack = model_stack.predict(x_test)

In [67]:
acc_stack = accuracy_score(y_test, pred_stack)

In [68]:
acc_stack * 100

86.81318681318682

#